electron_mirror="https://npmmirror.com/mirrors/electron/"
registry=https://registry.npmmirror.com
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
auto-install-peers=true
engine-strict=true
node-linker=hoisted
